* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


li {
    list-style: none;
}

header {
    width:10000px;
    height: 60px;
    background-color: white;
    position: fixed;
    top: 0;
}


.gui {
    width: 980px;
    height: 60px;
    background-color: #fff;
    position: fixed;
    top: 0;

}

.gui  a {
    display: inline-block;
    text-align: center;
    height: 60px;
    width: 100%;
    line-height: 60px;
    color:  rgb(7, 7, 7);
    font-size: 22px;
    font-weight: 800;
    transition: all .5s;
    background-color: transparent;
}

.gui a:hover {
    box-shadow: 1 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   background-color: rgba(0,0,0,.3);
}

.gui a:active {
    background-color: rgb(39, 40, 44);
}

.gui img {
    display:inline-block;
    width: 300px;
}


.gui div {
    width: 170px;
    float: right;
  
}

.title {
    width: 1000px;
    height: 60px;
    color:rgb(182,149,53);
    margin-left: 100px;
    font-size: 60px;
    font-weight: 800;
}

.inbox {
    width:100%;
    height: 100vh;
    margin-top: 60px;
    position:absolute;
    overflow-y:auto;
    background-image: url('pictures/bg6_1.png');
    background-size:110% 150%;
    background-repeat:no-repeat;
    background-size: cover;
}

.show {
    width: 1300px;
    height: 430px;
    margin: 100px auto 100px 10vw;
    overflow: hidden;
    transition: all .3s;
    border-radius: 25px;
}

.show li {
    float:left;
    width:250px;
    height:430px;
    position: relative;
    box-shadow: 0 0 25px #000000;
    transition: all .3s;
}

.show li .shadow {
    width: 100%;
    height: 40px;
    position:absolute;
    left: 0;
    bottom: 0;
    font-size: 18px;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0,0,0,.4);
}

.show:hover li {
    width: 165px;
}

.show li:hover {
    width:640px;
}

.entry {
    width: 96px;
    height: 62px;
    position: relative;
    top: 0px;
    margin: 0 auto 60px auto;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.entry a {
    height: 58px;
    display: block;
    text-align: center;
    line-height: 58px; 
    color:  rgb(235,238,242);
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}

.entry::before {
    content: ' ';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 96px;
    height: 58px;
    background: linear-gradient(0deg,transparent,rgb(0, 0, 1),
    rgb(0,0,1));
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.entry::after {
    content: ' ';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 96px;
    height: 58px;
    background: linear-gradient(0deg,transparent,
    rgb(0,0,1),rgb(0,0,1));
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform:rotate(0deg);
    }

}

.form {
    position: absolute;
    inset: 2px;
    background: rgb(15,11,12);
    z-index: 10;
}

.form:hover{
    background-color: rgb(38, 37, 37);
}




.shell {
    height: 100vh;
    overflow-x: hidden;
    perspective:5px;
    margin-top: 60px;

}

.shell div{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-style: 30px;
    letter-spacing: 3px;
}

.image {
    transform: translateZ(-1px) scale(1.6);
    background-size: cover;
    height: 100vh;
    z-index: -1;
 }

 .text {
    height: 40vh;
    background-color: #fff;
 } 

#headone{
    height:30vh;
}

 .heading {
    z-index: -1;
    transform: translateY(-30vh) translateZ(2px);
    color: #fff;
    font-size: 30px;
    text-shadow: 5px 5px 10px rgba(0,0,0,.5);
 }

.sbox {
    height: 40vh;
}

.button {
    display: block;
    width: 200px;
    padding: 20px;
    margin-top: 10vh;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: black;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button span {
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    color: rgb(182,149,53);
  }
  
  .button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
 
 section {
    width: 100vw;
    height: 1000px;
    margin: 0 auto;
    overflow: hidden;
 }


 .bigleft{
    position: absolute;
 }

 .left {
    float: left;
    width: 30vmin;
    height: 30vmin;
    position: relative;
    top: 30vmin;
    left: 14vmax;
    overflow-x: hidden;
    overflow-y: auto;
 }

 .left::-webkit-scrollbar {
    display: none;
 }

 .left div{
    width: 30vmin;
    height: 30vmin;
 }

 .left .p1 {
    background-image: url('pictures/h1.jpg');
    background-size:100% 100%;
    background-repeat:no-repeat;

 }

 .left .p2 {
    background-image: url('pictures/h2.jpg');
    background-size:100% 100%;
    background-repeat:no-repeat;
 }

 .left .p3 {
    background-image: url('pictures/h3.jpg');
    background-size:100% 100%;
    background-repeat:no-repeat;
 }


 .right {
    float:left;
    width: 80vw;
    height: 100vh;
    position:absolute;
    top:60px;
    right: -28vw;
    overflow-y: auto;
 }

 .right::-webkit-scrollbar {
    display: none;
 }

 .right div {
    width: 50vw;
    min-height: 40vh;
    margin-top: 30px;
    background-color: rgba(255,255,255,.3);
    border-radius: 25px;
    box-shadow: 5px 5px 14px rgba(0,0,0,.5);
    backdrop-filter: blur(4px); 
 }
 

.doc h1 {
    color:rgb(182,149,53);
    font-size: 40px;
}

.zero p {
    text-align: center;
    line-height:40px;
}
.doc p {
    font-size: 23px;
    font-weight: 700;
}

.top {
    color:rgb(182,149,53);
    position: relative;
    left: 14vmax;
    top: 30vmin;
}

.down {
    color:rgb(182,149,53);
    position: relative;
    top: 65vmin;
    left: 14vmax;
}
.back {
    width:100%;
    height:100vh;
    overflow-y: auto;
}

.left_one {
    width: 270px;
    height: 400px;
    position: fixed;
    top: 90px;
    right: 20px;
    overflow: hidden;
}

.left_two {
    width: 600px;
    height: 300px;
    margin-top: 60vh;
    position: fixed;
    right: 10px;
}

.left_one .box {
    width: 250px;
    height: 350px;    
    top: 25px;
    position: absolute;
    color: rgb(216,120,58);
    text-align: center;
    line-height: 90px;
    font-size: 50px;
    font-weight: 800;
    background-image: url('pictures/ig1.jpg');
    background-size:100% 100%;
    background-repeat:no-repeat;
    transition: all .3s;
}

.left_one:hover {
    animation: onemove .2s infinite ;
}

@keyframes onemove {
    0%{
        font-size:30px;
        top: 110px;
        right:20px;
    }
    33%{
        right:60px;
        top: 110px;
    }
    66%{
        font-size:50px;
        right:60px;
        top:90px;
    }
    99%{
        right:20px;
        top:90px;
    }
}

@keyframes twomove{
    0%{
        font-size:30px;
        top: 110px;
        right:20px;
    }
    33%{
        right:60px;
        top: 110px;
    }
    66%{
        font-size:20px;
        right:60px;
        top:90px;
    }
    99%{
        right:20px;
        top:90px;
    }
}

.left_two .box {
    width: 560px;
    height: 240px;
    background-image: url('pictures/ig2.jpg');
    background-size:100% 100%;
    background-repeat:no-repeat;
}

.middle {
    width: 900px;
    height: 200vh;
    margin: 60px 350px 0px auto;
    font-size: 35px;
    color: rgb(216,120,58);
    overflow-x:hidden;
}

.middle::-webkit-scrollbar {
    display: none;
 }

.middle span {
    font-size: 10px;
    color:rgb(222, 231, 236)
}

.middle img {
    width: 5%;
    position: relative;
    top: 150vh;
    left: 36vw;
}

.middle img:hover{
    width:7%;
}

.right_one {
    width: 400px;
    height: 600px;
    position: fixed;
    top: 180px;
    left: 10px;
    transition: all .3s;
    animation: twomove .4s infinite;
}

.right_one input{
    color: red;
    margin-left:305px; 
    margin-top: 0px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid black;
    background-color: rgb(242, 244, 226);
}

.right_one input:hover{
    background-color: gray;
}

.right_one .box{
    width: 350px;
    height: 450px;
    margin-left: 10px;
    color: rgb(241, 160, 226);
    text-align: center;
    text-shadow: 2px 2px 4px red;
    background-image: linear-gradient(to right, red, green,yellow);
    overflow: hidden;  
}

.right_one img {
    width: 350px;
    position: relative;
    left: 10px;
}

.left_one img{
    width: 250px;
}

.moon {
    margin: 0 auto;
    height: 100vh;
    color:rgb(216,120,58);
    text-align: center;
    font-size: 30px;
}

@keyframes bgc {
    0%{
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    }
    25%{
        background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab, #ee7752);
    }
    50%{
        background: linear-gradient(-45deg, #23a6d5, #23d5ab, #ee7752, #e73c7e);
    }
    75%{
        background: linear-gradient(-45deg, #23d5ab, #ee7752, #e73c7e, #23a6d5);
    }
    100%{
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    }
}